button {
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background-color: #c123de;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
}
button:hover {
  background-color: #a20dbd;
}
button:active {
  position: relative;
  top: 1px;
}

#dashboard{
  margin-bottom: 25px;
  display: flex; 
  flex-direction: row; 
  flex-flow: row wrap; 
  align-items: stretch;
}

#mapOverlay {
  margin: auto;
  text-align: center;
  position: relative;

  transform: translate(1,0);
  transform-origin: center;

  z-index: 1;
}

#buttonGroup {
 position: relative;
 top: 450px;
}

#map {
  background-color: white; 
  
  height: 600px; 
  flex: 2 0 245px; 

  overflow: hidden;
}

#mapOfNC {
  display : block; 
  
  width: 500;
  position: relative;

  transform: scale(1,1);
  transform-origin: 50%;

  top : 115px;

}

#data {
  display: flex;
  height: 600;
  flex: 2 0 50%;
  flex-direction: column;
  padding-left: 25px;

}

#chart {
  background-color: white; 

  height : auto;

  padding-top: 20px;
  padding-right: 0px;

  margin-bottom:25px;
}

#dataExplanation {
  padding-top: 20px;
  padding-right: 0px;

  height : 300px;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 400px) {
  #data {
    padding-left: 0px;
  }
}

h2 {
    color : #8A14FF;
    margin: 0;

    font-family: Julius Sans One;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 400;
}

p {
    font-size: 14;
}

.county {
    fill:#4d2066;
    stroke:white;
    stroke-width:40;
    stroke-linejoin:round;

    transition: fill .2s;
}

.county:hover {
    fill:#bc75e6;
    stroke:white;
    stroke-width:40;
    stroke-linejoin:round;
}


table {
  width: 100%;
  height: 300px;
}

.bars td {
  vertical-align: bottom;
}

.bars div:hover {
  opacity: 0.6;
}

.legend {
  vertical-align: bottom;
  padding-left: 20px;
  text-align: left;
}

.legbox {
  display: block;
  clear: both;
}

.xaxisname {
  margin: 5px;
  color: #fff;
  font-size: 77%;
  padding: 5px;
  float: left;
}


/*Flat UI colors*/

.one {
  background: #16A085;
}

.two {
  background: #2ECC71;
}

.three {
  background: #3498DB;
}

.four {
  background: #2980B9;
}

.five {
  background: #9B59B6;
}

.six {
  background: #8E44AD;
}

.nine {
  background: #F39C12;
}

.ten {
  background: #F39C12;
}

.seven {
  background: #2C3E50;
}

.eight {
  background: #22313f;
}




/* Tooltip text */
.county .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the county text */
  position: absolute;
  z-index: 2;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in county */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.county .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the county text when you mouse over the county container */
.county:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}